---
import type { MarkdownHeading } from 'astro'
import type { CollectionEntry } from 'astro:content'

// Plugin styles
import 'katex/dist/katex.min.css'

import { MediumZoom } from 'astro-pure/advanced'
import { ArticleBottom, Copyright, Hero, TOC } from 'astro-pure/components/pages'
import { Button, FormattedDate } from 'astro-pure/user'
import config from 'virtual:config'
import PageLayout from '@/layouts/ContentLayout.astro'
import { Comment, PageInfo } from '@/components/waline'
import { processTags, formatTag } from '@/utils/formatTag'

interface Props {
  post: CollectionEntry<'blog'>
  posts: CollectionEntry<'blog'>[]
  headings: MarkdownHeading[]
  remarkPluginFrontmatter: Record<string, unknown>
}

const {
  post: { id, data },
  posts,
  headings,
  remarkPluginFrontmatter
} = Astro.props

const {
  description,
  heroImage,
  publishDate,
  tags
  title,
  updatedDate,
  draft: isDraft,
  comment: enableComment
} = data

const socialImage = heroImage
  ? typeof heroImage.src === 'string'
    ? heroImage.src
    : heroImage.src.src
  : config.socialCard
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString()
const primaryColor = data.heroImage?.color ?? 'hsl(var(--primary) / var(--un-text-opacity))'
---

<PageLayout
  meta={{ articleDate, description, ogImage: socialImage, title }}
  highlightColor={primaryColor}
  back='/blog'
>
  {!!headings.length && <TOC {headings} slot='sidebar' />}

  <div slot='header' class='mb-6'>
    <h1 class='text-3xl font-bold tracking-tight sm:text-4xl'>{title}</h1>
    <div class='mt-3 flex flex-wrap items-center gap-x-4 gap-y-2'>
      <FormattedDate
        date={publishDate}
        dateTimeOptions={{ month: 'short', day: '2-digit', year: 'numeric' }}
        class='text-sm'
      />
      {!!tags?.length && (
        <ul class='flex flex-wrap gap-1.5'>
          {processTags(tags).map((tag: string) => {
            const formattedTag = formatTag(tag)
            return (
              <li>
                <Button title={formattedTag} href={`/tags/${formattedTag}`} style='pill'>{formattedTag}</Button>
              </li>
            )
          })}
        </ul>
      )}
    </div>
  </div>

  <Hero {data} {remarkPluginFrontmatter} slot='header'>
    <Fragment slot='description'>
      {!isDraft && enableComment && <PageInfo comment class='mt-1' />}
    </Fragment>
  </Hero>

  <slot />

  <Fragment slot='bottom'>
    {/* Copyright */}
    <Copyright {data} />
    {/* Article recommend */}
    <ArticleBottom collections={posts} {id} class='mt-3 sm:mt-6' />
    { /* Comment */
    !isDraft && enableComment && <Comment class='mt-3 sm:mt-6' />}
  </Fragment>

  <slot name='bottom-sidebar' slot='bottom-sidebar' />
</PageLayout>

{config.integ.mediumZoom.enable && <MediumZoom />}
